<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flixplay - Faq's</title>
  <link rel="shortcut icon" href="./imgs/logo.ico" type="image/x-icon">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="app.js" defer></script>
  <link rel="stylesheet" href="styles/style.css">

  <!-- Manifiesto -->
  <link rel="manifest" href="./manifest.json">
</head>

<body>
  <div id='app'>

    <header>
      <nav>
        <a id="logo-pc" href="./"><img src="./imgs/Flixplay.svg" alt="Flixplay logo"></a>
        <div id='container-nav-list-buscar'>
          <div id='container-nav-list'>
            <button @click="isMenu = true" v-if="!isMenu" id='btn-abrir-menu'><img src="./imgs/menu.svg"
                alt="abrir menu"></button>
            <button @click="isMenu = false" id='btn-cerrar-menu'><img src="./imgs/cruz.svg" alt="cerrar menu"
                v-if="isMenu"></button>
            <a id='logo-mobile' v-if="isMenu" href="./"><img src="./imgs/Flixplay.svg" alt="Flixplay logo"></a>
            <ul id='nav-list'>
              <li><a href="./">Inicio</a></li>
              <li><a href="./index.html#peliculas">Películas</a></li>
              <li><a @click='verFav()'>Favoritos</a></li>
              <li class="active"><a href="./faqs.html">FAQ's</a></li>
            </ul>
            <ul id='nav-list-mobile' v-if="isMenu">
              <li><a href="./">Inicio</a></li>
              <li><a href="./index.html#peliculas">Películas</a></li>
              <li><a href="./favoritos.html">Favoritos</a></li>
              <li class="active"><a href="./faqs.html">FAQ's</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <section class="faq-container">
      <h1 class="titulo-p-faq">Preguntas frecuentes</h1>
      <p class="texto-p-faq">Enterate de las preguntas que nos hacen con más frecuencia. Ante cualquier otra consulta,
        por favor comuniquese a Atención al Cliente al mail <strong>clientes@flixplay.com.ar</strong></p>
      <div class="faq">
        <h2 class="titulo-faq">🎬 ¿Cómo puedo ver las películas en tu página?</h2>
        <p class="respuesta-faq">Para ver las películas en nuestra página, simplemente tenés que crear una cuenta y
          suscribirte a nuestro servicio. Una vez registrado, podrás acceder a nuestro catálogo completo de
          películas y reproducirlas en línea en cualquier dispositivo compatible.</p>
      </div>
      <div class="faq">
        <h3 class="titulo-faq">🎬 ¿Cuál es el costo de suscripción mensual para acceder al contenido?</h3>
        <p class="respuesta-faq">Ofrecemos diferentes planes de suscripción mensual para adaptarnos a tus
          necesidades. Podés consultar nuestra página de precios para conocer los detalles y elegir el plan que
          mejor se ajuste a tus preferencias y presupuesto.</p>
      </div>
      <div class="faq">
        <h4 class="titulo-faq">🎬 ¿Qué géneros de películas ofrece tu página?</h4>
        <p class="respuesta-faq">Nuestra página de películas ofrece una amplia variedad de géneros para satisfacer
          tus gustos. Desde películas de acción y suspenso hasta comedias, dramas, películas de ciencia ficción y
          mucho más. ¡Seguro encontrarás películas que te encantarán!</p>
      </div>
      <div class="faq">
        <h5 class="titulo-faq">🎬 ¿Cuántos dispositivos puedo utilizar para acceder a mi cuenta?</h5>
        <p class="respuesta-faq">Podés acceder a tu cuenta y disfrutar de nuestras películas en múltiples
          dispositivos. No hay un límite estricto en la cantidad de dispositivos, pero tené en cuenta que el
          número de reproducciones simultáneas puede estar limitado según el plan de suscripción que elijas.</p>
      </div>
    </section>

    <footer>
      <div class="logo">
        <img src="./imgs/Flixplay.svg" alt="Logo de mi página">
      </div>
      <p class="texto-footer">&copy; 2023 Todos los derechos reservados <br>
        🎬 Hecho por Nicolás Agüero.</p>
    </footer>

  </div>

</body>

</html>